doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://static.matterport.com/showcase-sdk/2.0.1-0-g64e7e88/sdk.js')
  body
    block content
